
/*region header*/
.header {
    position: relative;
    line-height: 0;
    background-color: #f1f1f1;
    padding: 0;
    margin-bottom: 0;
    top: 0;
}

@font-face {
    font-family: "Yekan";
    src: url("/fonts/yekan.eot");
    src: url("/fonts/yekan.eot?#iefix") format("embedded-opentype"), url("/fonts/Yekan.woff") format("woff"), url("/fonts/Yekan.ttf") format("truetype"), url("/fonts/Yekan.svg#BYekan") format("svg");
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
}

.wrapper-footer {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 .5rem;
}

.button {
    background-color: orangered;
    border: 1px solid orangered;
    display: inline-block;
    text-decoration: none;
    padding: 0.1rem 0.4rem;
    /* margin: 1rem 0 0 0;*/
    border-radius: 3px;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    -o-transition: 500ms all;
    transition: 500ms all;
}

    .button:hover {
        background-color: #7b84ff;
        border: 1px solid #7b84ff;
    }

.button-text {
    font-size: .9rem;
    line-height: 2rem;
    color: #fff;
}

.button:before {
    width: 1rem;
    height: 1rem;
    text-align: center;
    color: #fff;
    position: relative;
    top: 1.5px;
    line-height: 2rem;
    margin: 0 0 0 .3rem;
}

.button.phone {
    font-size: 1.1rem;
    margin: 0 .5rem;
}
/*region container*/
.header-tbl {
    display: inline-table;
    width: 100%;
}

.header-row {
    display: table-row;
    height: 110px;
    white-space: nowrap;
    overflow-y: hidden;
}

.header-cell {
    display: table-cell;
    vertical-align: middle;
    float: right;
}

.header-logo {
    height: 1em;
    width: 5%;
    position: relative;
    float: right;
    margin-left: 40px;
}

.tbl-logo-btn {
    opacity: 1;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    -o-transition: 500ms all;
    transition: .3s all;
}

    .tbl-logo-btn:hover {
        opacity: 0.5;
    }

.tbl-logo-img {
    display: block;
    width: 220px;
    height: 220px;
    position: absolute;
    top: -50px;
    right: 10px;
}

.header-search {
    height: 100px;
    width: 45%;
    white-space: nowrap;
    background-color: transparent;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    right: 150px;
}

.header-action {
    align-items: flex-start;
    display: flex;
    height: 40px;
    width: 1%;
    margin: 20px 0;
    position: relative;
    right: -110px;
    white-space: nowrap;
    position: relative;
    right: 209px;
    top:-3px;
}

.header-action-menu {
    display: inline-block;
    position: relative;
    z-index: 200;
}

.header-action-menu__checkbox {
    display: none;
}

.header-action-menu__content {
    position: absolute;
    top: 99%;
    left: -40%;
    background-color: #fff;
    width: 150px;
    border-radius: .3rem;
    box-shadow: 0 5px 3px rgba(0,0,0,.1);
    visibility: hidden;
    opacity: 0;
    -moz-transition: .3s opacity;
    -o-transition: .3s opacity;
    -webkit-transition: .3s opacity;
    transition: .3s opacity;
}

.header-action-menu__item {
    font-size: .9rem;
    line-height: 1.8;
    display: block;
    color: #333;
    padding: .5rem .5rem;
    -moz-transition: .3s background-color;
    -o-transition: .3s background-color;
    -webkit-transition: .3s background-color;
    transition: .3s background-color;
    text-decoration: none;
}

.header-action-menu__checkbox:checked ~ .header-action-menu__content {
    visibility: visible;
    opacity: 1;
}

.header-action-btn:past ~ .header-action-menu__content {
    visibility: hidden;
    opacity: 0;
}

.header-action-menu__item:hover {
    background-color: #e9e9e9;
    cursor: pointer;
}

.header-action-item {
    border-right: 2px solid #777;
    padding: 5px;
    /* vertical-align: middle; */
    margin: 7px 23px;
    position: relative;
    top: 16px;
}

    .header-action-item.login {
        border-right: 2px solid #777;
 
        padding: 0 6px;
        /* vertical-align: middle; */
        margin: 0 20px;
 
        padding: 2px 6px;
        /* vertical-align: middle; */
        margin: 3px 20px;
 
        position: relative;
        top: 20px;
        padding-left: 1rem;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        -webkit-transition: 500ms all;
        -moz-transition: 500ms all;
        -o-transition: 500ms all;
        transition: 500ms all;
    }

    .header-action-item:first-child {
        padding: 3px 3px;
    }

.header-action-item_border {
    border: 1px solid darkorange;
    border-radius: 4px;
    position: relative;
 
    top: 12px;

    top: 9px;
 
}
 

    .header-search-form {
        width: 100%;
    }

.header-search-form-input-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.header-search-form-input {
    width: 95%;
    white-space: nowrap;
    outline: none;
    font-size: 1.1em;
    font-family: Tahoma;
    line-height: 30px;
    /* padding-right: 0.5rem; */
    /* padding-left: 0.5rem; */
    box-sizing: border-box;
    position: relative;
    left: 117px;
    margin: 40px 120px 10px 150px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    -o-transition: 500ms all;
    transition: 500ms all;
}

    .header-search-form-input:focus {
        -webkit-box-shadow: 0 0 5px #777;
        box-shadow: 0 0 8px #777;
        border-color: #7b84ff;
    }

.header-search-form-label {
    font-size: 29px;
    line-height: 1.69rem;
    background-color: darkslategray;
    color: white;
    /* padding: 2px; */
    padding: 4px 1px;
    cursor: pointer;
    z-index: 10;
    border-radius: 3px;
    width: 32px;
    position: absolute;
    top: 58%;
    left: .5rem;
    transform: translateY(-50%);
}


.header-search-form-submit-btn {
    display: none;
}

.header-action-btn {
    display: inline-block;
    line-height: 1;
    font-size: 1rem;
    vertical-align: middle;
    margin: 0px 4px;
    margin: 3px 4px;
    text-decoration: none;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    -o-transition: 500ms all;
    transition: 300ms all;
    color: #999;
    position: relative;
    /* right: 15px; */
    top:3px;
}

.header-action-item:hover {
}



.header-action-btn.cart {
    color: #333;
    position: relative;
    right: 4px;
    top: -1px;
}

    .header-action-btn.cart:hover {
    }

.header-action-btn.prof:before {
    float: left;
    color: darkorange;
    position: relative;
    right: 0px;
    top: 8px;
    z-index: 5;
}

.header-action-btn.profile:before {
    float: left;
    color: darkorange;
    position: relative;
    right: 17px;
    top: 4px;
    z-index: 5;
}

.header-action-btn.cart:before {
    position: relative;
    right: -9px;
    font-size:23px;
    color: #777;
    top: -1px;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    -o-transition: 500ms all;
    transition: 300ms all;
}

.header-action-item:hover .header-action-btn.cart:before {
    color: orange;
}

.header-action-btn-txt {
    color: #333333;
    position: relative;
    /* top: -4px; */
    right: -4px;
    line-height: 1.8;
    padding:.1rem 0 .1rem .5rem;
    display: inline-block;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    -o-transition: 500ms all;
    transition: 300ms all;
    max-width: 155px !important;
    border-radius: .2rem;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

    .header-action-btn-txt.login {
        padding: .2rem .2rem .2rem 2rem
    }

        .header-action-btn-txt.login:hover {
            background-color: #ddd;
        }

.header-action-btn-txt--store {
    top: 3px;
    left: 3px;
}

.header-action-btn {
    color: #000;
}

.header-action-menu__seprator {
    display: block;
    margin: 0.5rem 0 0 0;
    border-top: 1px solid #ddd;
}

.header-action-btn-cunt {
    background-color: #666666;
    width: 5px;
    height: 5px;
    line-height: 0;
    color: #fff;
    /* vertical-align: middle; */
    font-size: 13px;
    border-radius: 50%;
    padding: 1px 9px;
    text-align: center;
    /* margin-right: 10px; */
    position: relative;
    top: -6px;
    right: -1px;
}
/*endregion container*/
/*endregion header*/
/*region nav*/
.nav {
    background-color: #666;
    display: block;
    border-bottom: 3px solid #111;
    padding: 0;
    height: 40px;
}

.ul {
    list-style-type: none;
    position: relative;
    white-space: nowrap;
    display: inline-table;
    margin-bottom: 0;
}

    .ul.wrapper {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

.li {
    display: inline-block;
    *disply: inline;
    *zoom: 1;
    margin: 0;
    position: relative;
    top: 0px;
}

.li_last {
 
    background-color: #555;
    top: 0px;
    right: 100px;
}

.a {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    -o-transition: 500ms all;
    transition: 500ms all;
    padding: 0 20px;
    line-height: 38px;
    top: 0px;
}

    .a:after {
        content: '';
        position: absolute;
        top: 106%;
        right: 50%;
        left: 50%;
        height: 2px;
        background-color: orange;
        margin-top: -2px;
        -webkit-transition: 500ms all;
        -moz-transition: 500ms all;
        -o-transition: 500ms all;
        transition: 500ms all;
    }
.dir {
    direction: rtl;
    display: grid;
    flex: 1;
    margin-top: 40px;
}
.submit {
    margin :3rem;
    margin-right: 210px;
    padding : 5px;
    color: brown;
}
.a:hover {
    background-color: #666;
    color: orange;
    border-radius: 1px;
    box-shadow: 0 0 5px #444;
}

        .a:hover:after {
            right: 0;
            left: 0;
        }

/*endregion nav*/
/*region submenu*/
.nav-submenu {
    overflow: visible;
    position: absolute;
    top: 103%;
    z-index: 20;
    min-width: 134px;
    max-width: 200px;
    right: 0;
    background-color: #999;
    list-style-type: none;
    padding: 0;
    display: none;
    margin-top: 1px;
    border-radius: 0.1rem;
}

.li:hover .nav-submenu {
    display: block;
    overflow: visible;
}

.li-type-1.nav-submenu {
    left: 0;
    width: auto;
    background-color: orange;
}

.li.type-2 {
}

.button.type-2 {
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
}

    .button.type-2:hover {
        background-color: forestgreen;
        border: 1px solid forestgreen;
    }

.nav-submenu-item {
    background-color: #999;
}

.nav-submenu-button {
    position: relative;
    display: block;
    color: #222;
    font-size: 15px;
    line-height: 32px;
    text-decoration: none;
    padding: 0 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    -o-transition: 500ms all;
    transition: 500ms all;
}

    .nav-submenu-button:hover {
        background-color: #d5d6ca;
        color: #4650f1;
    }
/*endregion submenu*/
/*region body*/

.main-text {
    position: relative;
    top: 10px;
    line-height: 0;
}

.t2 {
    margin: 0;
    direction: rtl;
    padding: 0;
}

body {
    position: relative;
    padding: 0;
    font-family: Yekan;
 
    margin: 0 auto 0;
    height: 500px;
    font-size: 13px;
}

.article {
    background-color: greenyellow;
    overflow: auto;
    height: 200px;
    margin: 0;
}

#container {
    padding: 1.5rem 0;
    background-color: #fff;
}

.side {
    display: block;
    float: right;
    margin: 10px;
    width: 150px;
    height: 300px;
    background-color: orange;
}
/*endregion body*/

/*region footer*/
.footer {
 
    border-top: 1px solid #555;
    /* padding: 0; */
    background-color: #f3f3f3;
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.footer-wrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.body-wrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    direction: rtl;
}

.footer-copy-right {
    padding: 20px 0;
    background-color: #777;
}

.footer-copy-right-txt {
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    word-spacing: 2px;
    user-select: none;
}

.footer-detail {
    width: 100%;
}

.footer-detail-tbl {
    display: inline-table;
    width: 100%;
    padding: 1rem 0;
}

.footer-detail-tbl-tr {
    display: table-row;
    white-space: nowrap;
}

.footer-detail-tbl-td {
    display: table-cell;
    vertical-align: top;
    padding-right: .6rem;
    width: 16%;
    float: right;
    margin: 0 35px;
    direction: rtl;
    white-space: nowrap;
    overflow: hidden;
}

.footer-detail-tbl-td {
    padding-right: 0;
}

.footer-detail-tbl-title {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: #111;
    margin-bottom: 2rem;
    user-select: none;
}

.footer-detail-tbl-td.last {
    width: 17%;
}

.footer-detail-tbl-content-link {
    text-decoration: none;
    font-size: 0.9rem;
    user-select: none;
    line-height: 1.8rem;
    color: #555;
    display: inline-block;
    margin-top: 0.5rem;
    max-width: 100%;
    padding: 2px 8px;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    -o-transition: 500ms all;
    transition: 500ms all;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    .footer-detail-tbl-content-link:first-child {
        margin-top: 0.4rem;
    }

    .footer-detail-tbl-content-link:hover {
        color: orangered;
    }

.footer-detail-tbl-title-wrapper {
    margin-top: .5rem;
    overflow: visible;
}

    .footer-detail-tbl-title-wrapper:first-child {
        margin-top: 0;
    }

.footer-support-icon {
    float: right;
    margin: 0 0 0 .5rem;
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.footer-support-text {
    font-size: 0.9rem;
    line-height: 2rem;
    color: #555;
    display: block;
    word-spacing: 2px;
}

    .footer-support-text.address {
        width: 300px;
        overflow: visible;
    }

    .footer-support-text.email {
        text-decoration: none;
    }

.footer-detail-tbl-td.last {
    overflow: visible;
}

.button-text-spec {
    font-size: 1.2rem;
    line-height: 2.6rem;
    color: #fff;
    padding-right: 1.2rem;
}



A.button:hover, LABEL.button:hover {
    cursor: pointer;
    background-color: #7b84ff;
    border-color: #7b84ff;
    color: #222222;
}

.button.link {
}

.button-text.link {
    margin: 0 .4rem 0 0;
}
/*A.button.link:hover,LABEL.button.link:hover{
    cursor: pointer;
    background-color: goldenrod;
    color: green;
    border-color: goldenrod;
}*/
.button.icon1 {
    margin: 0 0 0 1rem;
    font-size: 1.3rem;
}

.footer-support-icon-action {
    margin: 1.5rem 0.5rem;
}

    .footer-support-icon-action .button {
        margin: 0 0.5rem;
    }

.footer-badge-wrapper {
    padding: 2rem 0;
    text-align: center;
    list-style-type: none;
    display: flex;
    direction: rtl;
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
}

.footer-badge-icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    color: white;
    background-color: #222;
    border-radius: 50%;
}

.footer-badge-item {
    direction: rtl;
    margin: 0 2.5rem;
    box-sizing: border-box;
}

.footer-badge-link {
    display: block;
    text-decoration: none;
}

.footer-badge-title {
    text-decoration: none;
    text-emphasis-style: none;
    font-size: 1.1rem;
    margin-top: .8rem;
    color: #333;
    display: block;
    line-height: 1.1;
    width: 10rem;
}

.footer-badge-desc {
    font-size: .8rem;
    margin-top: .5rem;
    color: #666;
    display: block;
    line-height: 1.2;
}

.footer-detail-content {
    border-bottom: 1px solid #ddd;
    background-color: #ddd;
    overflow: visible;
    height: auto;
    position: relative;
    /* border-top: 0px solid #e9e9e9; */
    top: -0.81px;
    position: relative;
}
/*endregion footer*/



.pager-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0;
    padding: 0 .5rem;
}

.pager-actions__select {
    width: 145px;
    height: 1.7rem;
    line-height: 1.1;
    font-size: .88rem;
    box-sizing: border-box;
    padding: 0rem 0.6rem 0.2rem 0;
    color: #333;
    display: block;
    border: 1px solid #000;
}

.pager-actions-pager {
    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse;
}

.pager__button {
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
    line-height: 1.7;
    font-size: 1.1rem;
    color: #333;
    background: #eee;
    margin: 0 .18rem;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
}

    .pager__button:first-child {
        margin-left: 0;
    }

.pager__button--current {
    color: #fff;
    background-color: orangered;
}

.pager__seperator {
    margin: 0 .15rem;
    color: #999;
    font-size: .8rem;
}

.pager__info {
    display: inline-flex;
    align-items: center;
}

.pager__total {
    font-size: 1rem;
    padding-right: 1rem;
    line-height: 1.3rem;
    margin-right: 1rem;
    color: #333;
    border-right: 1px solid #999;
}


.empty-title {
    font-size: 1.1rem;
    color: #555;
    background-color: #f0f0f0;
    padding: 1.3rem;
    margin: 3.5rem 0;
    border: 1px solid #ddd;
    max-width: 300px;
    text-align: center;
    line-height: 1.4;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}

.panel {
    padding: .5rem;
}

.panel__title {
    font-size: 1.3rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    color: #333;
    padding: .5rem;
    border-bottom: 1px solid #ddd;
}

.panel__content {
    padding: .5rem;
}

.wrapper2 {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    margin-top: 5rem;
    justify-content: center;
    direction: rtl;
    text-align: center;
}

.user-panel {
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    border-radius: .3rem;
    width: 600px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.user-panel__header {
    font-size: 1rem;
    line-height: 1.8;
    color: #555;
    background-color: #eee;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.user-panel__content {
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.frm-control__validation {
    font-size: .75rem;
    line-height: 1.8;
    color: #ff0000;
    align-items: center;
    margin-top: .5rem;
    display: none;
}

    .frm-control__validation:before {
        margin-left: .2rem;
        line-height: 1;
        position: relative;
    }

.frm-control__group {
    margin-top: .5rem;
    justify-content: space-between;
}

    .frm-control__group:first-child {
        margin-top: 0;
    }

    .frm-control__group.action {
        margin-top: 1rem;
    }

    .frm-control__group.right {
        display: flex;
        justify-content: right;
    }

.frm-control__label {
    font-size: .9rem;
    line-height: 1.8;
    color: #777;
    display: inline-block;
}

.frm-control__input {
    font-size: .9rem;
    line-height: 2rem;
    height: 2rem;
    color: #777;
    display: inline-block;
    border: 1px solid #ddd;
    padding: .3rem .5rem;
    border-radius: .3rem;
    margin-top: .5rem;
    box-sizing: border-box;
    margin-right: 1rem;
    width: 100%;
    position: relative;
    left: 15px;
}

.frm-control-checkbox__input {
    display: flex;
    float: right;
    margin: 0 0 0 .5rem;
    position: relative;
    top: 10px;
}

.frm-control-checkbox {
    font-size: .9rem;
    line-height: 2rem;
    height: 2rem;
    color: #777;
    margin: 1rem .5rem 0 0;
    text-align: right;
}
@media (max-width:768px ) {
    .button-text-spec {
        font-size: .98rem;
        line-height: 1rem;
    }
}
